@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
ul{
    text-decoration: none;
    list-style: none;
}
.container{
    z-index: 1;
    position: sticky;
    top: 0;
    height: 50px;
    background-color:  black;
     color: grey;
     display: flex;
     justify-content: center;
     align-items: center;
}
.heading{
    font-family: Anton;
    font-size: 27px;
    
}
.heading:hover{
    color: white;
    cursor: pointer;
    transition-duration: 0.3s;
}
.search{
    background: white;
    color: black;
    position: relative;
    left: 316px;
  margin-top: -8px;
}
.search-btn{
    position: relative;
    left: 358px;
}
.search-btn:hover{
     background-color:  white;
     color: black;
     transition-duration: 0.3s;
     border-radius: 4px;
     cursor: pointer;

}
.sofia-btn{
    padding: 1px;
    width: 65px;
    background-color: gray;
    color: white;
    margin-left: 48px;
    border-radius: 3px;
    position: relative;
    top: -169px;
}
.sofia-btn:hover{
    background-color: rgb(39, 37, 37);
    color: white;
    border: 2px solid white;
    cursor: pointer;
    transition-duration: 0.2s;
}
.box1{
    height: 1550px;
    background: rgba(0, 0, 0, 0.7) url('/logo.jpg');
    background-size: cover;
    /* border: 1px solid black; */
    /* background: url('/logo.jpg'); */
    /* background-blend-mode: darken; */

}
.logo{
    position: sticky;
    display: inline-block;
    width: 292px;
    height: 349px;
    margin-left: 6px;
    margin-top: 33px;
    border-radius: 75px;
    border: 2px lightgray;
}
.sofia-text{
    display: inline-block;
    position: relative;
    bottom: 258px;
    right: -136px;
}
.para
{
    display: inline-block;
    width: 537px;
    margin-left: 484px;
    position: relative;
    bottom: 212px;
    font-size: 20px;
}
.together-heading{
    font-size: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote{
    padding: 324px;
}
.footer{
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: black;
    color:white;

}